<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bitpolar\CashOnDelivery\Api\OrderDataProviderInterface" type="Bitpolar\CashOnDelivery\Model\OrderData\Provider"/>
    <preference for="Bitpolar\CashOnDelivery\Api\FeeProviderInterface" type="Bitpolar\CashOnDelivery\Model\Fee\Provider"/>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="codOrderRepositoryPlugin" type="Bitpolar\CashOnDelivery\Plugin\Sales\OrderRepositoryPlugin"/>
    </type>
    <type name="Magento\Sales\Api\InvoiceRepositoryInterface">
        <plugin name="codInvoiceRepositoryPlugin" type="Bitpolar\CashOnDelivery\Plugin\Sales\InvoiceRepositoryPlugin"/>
    </type>
    <type name="Magento\Sales\Api\CreditmemoRepositoryInterface">
        <plugin name="codCreditmemoRepositoryPlugin" type="Bitpolar\CashOnDelivery\Plugin\Sales\CreditmemoRepositoryPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="codInvoicePlugin" type="Bitpolar\CashOnDelivery\Plugin\Sales\InvoicePlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="codOrderPlugin" type="Bitpolar\CashOnDelivery\Plugin\Sales\OrderPlugin"/>
    </type>
</config>
